:root {
    font-family: 'Montserrat';
    --primary-color: linear-gradient(to right, #903AFF, #fe34b9);
    --background-color: #150E28;
    --text-color: #903AFF;
    --header-color: #D434FE;
} 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   @apply bg-[var(--background-color)]
}
span{
    color: var(--header-color);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.reg{
    /* background-image: var(--primary-color);
    @apply py-[.3rem] px-[3rem] rounded-md */
}

@keyframes bounce-in {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
.bounce {
animation: bounce-in 1s ease;
}