:root {
    font-family: 'Montserrat';
    --primary-color: linear-gradient(to right, #903AFF, #fe34b9);
    --background-color: #150E28;
    --text-color: #903AFF;
    --header-color: #D434FE;
} 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
span{
    color: var(--header-color);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}